:root {
  --boxColor: rgba(235, 224, 224, 0.699);
  --rotateSpeed: 10s;
  --bounceSpeed: 2s;
  --coolRed: rgb(211, 46, 73);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.isHidden {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.body-wrap {
  background-image: linear-gradient(rgb(245, 147, 163), #fff 100%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 768px;
  width: 100%;
  min-width: 340px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-wrap {
  height: 700px;
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  min-height: 650px;
  max-height: 700px;
  margin: auto;
  border-radius: 40px 10px;
  background-color: rgb(211, 46, 73);
  background-image: linear-gradient(
    rgba(245, 214, 214, 0.8) 50%,
    rgb(214, 80, 102)
  );
  box-shadow: 2px 2px 12px 1px #0004;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.logo-header {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 16%;
  height: 145%;
  max-width: 80px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  z-index: 500;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(1.05);
}

.logoImg {
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 0.2em 0.2em 0.15em #0006, -0.01em -0.01em 0.04em 0.02em #fff;
  border-radius: 10px 5px;
  animation-name: imgScl;
  animation-duration: var(--bounceSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes imgScl {
  0%,
  4%,
  100% {
    transform: scale(1);
  }
  1% {
    transform: scale(1.1);
  }
}

.socials {
  display: flex;
  width: 50%;
  height: 5%;
  position: absolute;
  border-radius: 10px 2px;
  box-shadow: 0.2em 0.2em 0.15em #0006, -0.01em -0.01em 0.04em 0.02em #fff;
  z-index: 10;
  top: 10%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.icon {
  filter: grayscale(0.3);
  cursor: auto;
}

.icon:hover {
  transform: scale(1.1);
}
.icon:active {
  transform: scale(1.1);
}

.youtube {
  width: 33%;
  background-image: url("./icons/youtube.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.soundcloud {
  width: 33%;
  background-image: url("./icons/soundcloud.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.spotify {
  width: 33%;
  background-image: url("./icons/spotify.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-container {
  max-width: 280px;
  position: relative;
  height: 13%;
  width: 70%;
  margin: auto;
}

/* PROGRESS */

.prog-time-container {
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  min-width: 250px;
  min-height: 25px;
  max-width: 280px;
}

.seek-container {
  height: 30%;
  width: 95%;
  position: relative;
  margin-bottom: 8px;
  opacity: 0.95;
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  outline: none;
  border-radius: 5px 0;
  cursor: pointer;
  background: linear-gradient(to right, eeb3b9 0%, white 0%);
  box-shadow: 0.1em 0.15em 0.2em #0008, -0.05em -0.05em 0.1em 0.03em #fff;
}

.seek-container:hover {
  opacity: 1;
  transform: scale(1.1);
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  background-color: rgb(241, 158, 172);
  border: 1.3px dotted #fff;
  box-shadow: 0.1em 0.15em 0.2em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.bubble {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  top: -36px;
  left: -4.5px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  box-shadow: 0.2em 0.2em 0.2em #0006, -0.05em -0.05em 0.08em 0.03em #fff;
}

.time-track {
  width: 95%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* NAVIGATION CARDS */
.nav {
  width: 90%;
  height: 60%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 1%;
}

.prev-container,
.play-container,
.next-container {
  width: 25%;
  height: 100%;
  position: relative;
  border-radius: 10px 0;
}

.btns {
  width: 100%;
  height: 100%;
  margin: auto;
}

.act-btn {
  width: 70%;
  height: 70%;
}

.prev {
  margin-left: 50%;
  margin-top: 20%;
  background: url("./buttons/prev(white).png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 0.4em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.notplayin {
  background-image: url("./buttons/play(white1).png");
}
.playin {
  background-image: url("./buttons/pause(white1).png");
}

.play {
  width: 110%;
  height: 110%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.15em 0.2em 0.3em #0007, -0.03em -0.03em 0.05em 0.03em #fff;
  margin-left: 10%;
  margin-top: 1%;
}

.next {
  margin-left: 10%;
  margin-top: 25%;
  background: url("./buttons/next(white).png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 0.4em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.btns:active {
  transform: scale(1.2);
}

.btns:hover {
  transform: scale(1.2);
}

/* SONG TITLE CARDS */
.song-name {
  width: 90%;
  height: 30%;
  max-width: 320px;
  min-width: 300px;
  min-height: 200px;
  margin: auto;
  text-align: left;
  max-width: 340px;
  margin-top: 5%;
}

.namee {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.65em;
  padding: 0.5em;
  margin: 1em auto;
  width: 80%;
  height: 19%;
  border-radius: 15px 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0.2em 0.2em 0.2em #0006, -0.05em -0.05em 0.1em 0.03em #fff;
}

.namee:active {
  transform: scale(0.95);
}

.namee:hover {
  transform: scale(1.02);
}

.namee h3,
h1 {
  margin-right: 15px;
  margin-left: 10px;
}

.current-song {
  background-color: #fff3;
  color: rgb(156, 79, 79);
}

.current-song::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgb(223, 156, 156);
  margin-left: 10px;
  box-shadow: 0.2em 0.2em 0.4em #0008, -0.05em -0.05em 0.1em 0.03em #fff;
}

/* MAIN VISUALIZER */
.scene-container {
  width: 60%;
  height: 45%;
  min-width: 240px;
  max-width: 340px;
  max-height: 340px;
  min-height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  padding-bottom: 3vh;
  padding-top: 1vh;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.5em);
  border-radius: 10%;
}

.scene {
  max-width: 340px;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  animation-name: sceneRotate;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.cube {
  width: 2.2em;
  height: 2.2em;

  position: absolute;
  bottom: -1.1em;
  left: -1.1em;
  transform-style: preserve-3d;
  transform-origin: bottom;

  animation-name: cubeContract;
  animation-duration: var(--bounceSpeed);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

@keyframes cubeContract {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scaleY(0.7);
  }
  20%,
  100% {
    transform: scaleY(1);
  }
}

.front,
.left,
.right,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--boxColor);
  opacity: 0.15;
  box-shadow: 0 0 0.3em #0009 inset, 0 0 0.1em #fffc inset;
  border-radius: 10px;
}

.front {
  transform: translateZ(1.1em);
}
.right {
  transform: rotateY(90deg) translateZ(1.1em);
}
.back {
  transform: rotateY(180deg) translateZ(1.1em);
}
.left {
  transform: rotateY(270deg) translateZ(1.1em);
}

.top {
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  background-color: var(--boxColor);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 10px;
  opacity: 0.4;
}

.bottom {
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  background-color: var(--boxColor);
  opacity: 0.2;
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.02em 0.008em #000 inset;
  border-radius: 10px;
}

.artcon {
  width: 1.6em;
  height: 1.6em;

  transform-style: preserve-3d;
  transform-origin: center;
  position: absolute;
  margin: 0.3em;

  animation-name: artRotate;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

@keyframes artRotate {
  0% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

.coverart {
  background-image: url("./images/cubeCover.png");
  background-size: cover;
  margin: 0.24em;
  border-radius: 1px;
  border: 1px solid #fff5;
}

.cfront,
.cleft,
.cright,
.cback {
  position: absolute;
  width: 70%;
  height: 70%;
}

.cfront {
  transform: rotateZ(45deg) translateZ(0.56em);
}
.cright {
  transform: rotateZ(45deg) rotateY(90deg) translateZ(0.56em);
}
.cback {
  transform: rotateZ(45deg) rotateY(180deg) translateZ(0.56em);
}
.cleft {
  transform: rotateZ(45deg) rotateY(270deg) translateZ(0.56em);
}

.ctop {
  position: absolute;
  width: 70%;
  height: 70%;
  transform: rotateZ(45deg) rotateX(90deg) translateZ(0.56em);
}

.cbottom {
  position: absolute;
  width: 70%;
  height: 70%;
  transform: rotateZ(45deg) rotateX(270deg) translateZ(0.56em);
}

.floor {
  width: 2.2em;
  height: 2.2em;
  background-image: radial-gradient(#fff2, rgb(255, 235, 235)),
    repeating-conic-gradient(
      from 45deg,
      rgb(238, 139, 139) 0deg 90deg,
      rgb(243, 188, 188) 90deg 180deg
    );

  background-size: 100%, 0.6em 0.6em;

  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1.1em;
  border-radius: 10px;
}

.floor-shadow {
  content: "";
  width: 1em;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  filter: blur(5px);
  animation-name: artShadow;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

@keyframes artShadow {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.copy {
  font-size: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 4%;
  position: relative;
}

.copy p {
  width: 50%;
  margin: auto;
  color: #fff9;
}
