:root {
  --boxColor: rgba(235, 224, 224, 0.699);
  --rotateSpeed: 10s;
  --bounceSpeed: 2s;

  --bodyColor: rgb(170, 122, 158);
  --bodyColorSecond: #fff;

  --completeWrapBack: rgb(143, 119, 156);
  --completeWrapFirst: rgba(135, 87, 148, 0.555);
  --completeWrapSecond: rgb(209, 144, 188);

  --logoColor: rgb(214, 170, 170);

  --socialCover: rgb(133, 103, 150);

  --toggleHouseBorder: rgb(218, 136, 136);
  --toggleHouseColor: #fffc;
  --toggleRoundBorder: palevioletred;
  --toggleRoundColor: rgb(223, 156, 156);

  --progBarColor: rgb(238, 179, 185);
  --progThumbColor: rgb(241, 158, 172);

  --cubeBright: 1;

  --currentSongBack: #fff3;
  --currentSongColor: rgb(250, 212, 212);
  --currentSongPin: rgb(223, 156, 156);

  --floorGradFirst: rgb(238, 139, 139);
  --floorGradSecond: rgb(243, 188, 188);
  --floorRadialGrad: rgb(255, 235, 235);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.isHidden {
  display: none;
}

body {
  height: 100vh;
  width: 100vw;
}

.body-wrap {
  background-image: linear-gradient(
    var(--bodyColor),
    var(--bodyColorSecond) 100%
  );
  background-repeat: no-repeat;
  height: 100%;
  min-height: 768px;
  width: 100%;
  min-width: 340px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.complete-wrap {
  height: 700px;
  width: 340px;
  max-width: 340px;
  min-width: 340px;
  min-height: 650px;
  max-height: 700px;
  margin: auto;
  border-radius: 40px 10px;
  background-color: var(--completeWrapBack);
  background-image: linear-gradient(
    var(--completeWrapFirst) 50%,
    var(--completeWrapSecond)
  );
  box-shadow: 2px 2px 12px 1px #0004;
  position: absolute;
  top: 0px;
  bottom: 0px;
}

.logo-header {
  width: 100%;
  height: 4%;
  display: flex;
  justify-content: center;
}

.logo {
  width: 16%;
  height: 145%;
  max-width: 80px;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  z-index: 500;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.05);
}

.logo:active {
  transform: scale(1.05);
}

.logoImg {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20px;
  padding-top: 8%;
  color: var(--logoColor);
  width: 90%;
  height: 90%;
  margin: auto;
  margin-bottom: 5%;
  box-shadow: 0.1em 0.1em 0.2em #0006, -0.01em -0.01em 0.04em 0.02em #fff;
  border-radius: 7px;
  animation-name: imgScl;
  animation-duration: var(--bounceSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-fill-mode: backwards;
}

@keyframes imgScl {
  0%,
  4%,
  100% {
    transform: scale(1);
  }
  1% {
    transform: scale(1.1);
  }
}

.toggle {
  width: 10%;
  height: 2.3%;
  position: absolute;
  right: 12%;
  top: 4.5%;
  border-radius: 20px;
  z-index: 6000;
}

.mode {
  position: absolute;
  left: -80%;
  top: -25%;
  z-index: 5000;
  width: 30px;
  height: 30px;
}

.light {
  width: 80%;
}

.dark {
  width: 65%;
  position: absolute;
  top: 5%;
  left: 5%;
}

.toggle-house input[type="checkbox"] {
  visibility: hidden;
  width: 0;
  height: 0;
}

.toggle-house {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 1.5px solid var(--toggleHouseBorder);
  background-color: var(--toggleHouseColor);
  transition: 0.4s;
  border-radius: 20px;
  box-shadow: 1px 1px 3px #0004;
}

.toggle-round {
  position: absolute;
  width: 58%;
  height: 140%;
  border: 1.5px solid var(--toggleRoundBorder);
  top: -19%;
  left: -5%;
  border-radius: 50%;
  background-color: var(--toggleRoundColor);
  transition: 0.4s;
  box-shadow: 1px 1px 3px #0004;
}

.social-cover {
  width: 50%;
  height: 6%;
  position: absolute;
  z-index: 20;
  top: 3%;
  background-color: var(--socialCover);
}

.socials {
  display: flex;
  width: 40%;
  height: 5%;
  position: absolute;
  border-radius: 10px;
  box-shadow: 0.1em 0.1em 0.1em #0006, -0.008em -0.001em 0.001em 0.01em #fff;
  z-index: 10;
  top: 3%;
  opacity: 0;
  transition: opacity 0.9s ease, top 0.9s ease;
  justify-content: space-between;
  padding-top: 0.5%;
  background-color: #fffa;
}

.icons {
  filter: grayscale(0.4);
  cursor: auto;
  width: 24%;
  height: 95%;
  border-radius: 50%;
  box-shadow: 0.01em 0.01em 0.2em #0006, -0.01em -0.01em 0.04em 0.02em #fff;
}

.icons:nth-child(1) {
  margin-left: 5%;
}

.icons:nth-child(3) {
  margin-right: 5%;
}

.icons:hover {
  transform: scale(1.1);
}
.icons:active {
  transform: scale(1.1);
}

.icons a img {
  width: 100%;
}

.player-container {
  max-width: 280px;
  position: relative;
  height: 13%;
  width: 70%;
  margin: auto;
}

/* PROGRESS */

.prog-time-container {
  width: 100%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  position: relative;
  min-width: 250px;
  min-height: 25px;
  max-width: 280px;
}

.seek-container {
  height: 30%;
  width: 95%;
  position: relative;
  margin-bottom: 8px;
  opacity: 0.95;
}

.progress {
  -webkit-appearance: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  outline: none;
  border-radius: 5px 0;
  cursor: pointer;
  background: linear-gradient(to right, var(--progBarColor) 0%, white 0%);
  box-shadow: 0.1em 0.15em 0.2em #0008, -0.05em -0.05em 0.1em 0.03em #fff;
}

.seek-container:hover {
  opacity: 1;
  transform: scale(1.1);
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  appearance: none;
  cursor: pointer;
  background-color: var(--progThumbColor);
  border: 1.3px dotted #fff;
  box-shadow: 0.1em 0.15em 0.2em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.bubble {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 30px;
  height: 30px;
  color: white;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  padding-top: 8px;
  top: -36px;
  left: -4.5px;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  box-shadow: 0.2em 0.2em 0.2em #0006, -0.05em -0.05em 0.08em 0.03em #fff;
}

.time-track {
  width: 95%;
  font-size: 12px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  display: flex;
  justify-content: space-between;
}

/* NAVIGATION CARDS */
.nav {
  width: 90%;
  height: 60%;
  position: absolute;
  bottom: 10%;
  left: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  position: absolute;
  left: 1%;
}

.prev-container,
.play-container,
.next-container {
  width: 25%;
  height: 100%;
  position: relative;
  border-radius: 10px 0;
}

.btns {
  width: 100%;
  height: 100%;
  margin: auto;
}

.act-btn {
  width: 70%;
  height: 70%;
}

.prev {
  margin-left: 50%;
  margin-top: 20%;
  background: url("./buttons/prev(white).png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 0.4em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.notplayin {
  background-image: url("./buttons/play(white1).png");
}
.playin {
  background-image: url("./buttons/pause(white1).png");
}

.play {
  width: 110%;
  height: 110%;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.15em 0.2em 0.3em #0007, -0.03em -0.03em 0.05em 0.03em #fff;
  margin-left: 10%;
  margin-top: 1%;
}

.next {
  margin-left: 10%;
  margin-top: 25%;
  background: url("./buttons/next(white).png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 0.2em 0.2em 0.4em #0006, -0.03em -0.03em 0.05em 0.03em #fff;
}

.btns:active {
  transform: scale(1.2);
}

.btns:hover {
  transform: scale(1.2);
}

/* SONG TITLE CARDS */
.song-name {
  width: 90%;
  height: 30%;
  max-width: 320px;
  min-width: 300px;
  min-height: 200px;
  margin: auto;
  text-align: left;
  max-width: 340px;
  margin-top: 5%;
}

.namee {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.65em;
  padding: 0.5em;
  margin: 1em auto;
  width: 80%;
  height: 19%;
  border-radius: 15px 0;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  box-shadow: 0.2em 0.2em 0.2em #0006, -0.05em -0.05em 0.1em 0.03em #fff;
}

.namee:active {
  transform: scale(0.95);
}

.namee:hover {
  transform: scale(1.02);
}

.namee h3,
h1 {
  margin-right: 15px;
  margin-left: 10px;
}

.current-song {
  background-color: var(--currentSongBack);
  color: var(--currentSongColor);
}

.current-song::before {
  content: "";
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--currentSongPin);
  margin-left: 10px;
  box-shadow: 0.2em 0.2em 0.4em #0008, -0.05em -0.05em 0.1em 0.03em #fff;
}

/* MAIN VISUALIZER */
.scene-container {
  width: 60%;
  height: 45%;
  min-width: 240px;
  max-width: 340px;
  max-height: 340px;
  min-height: 240px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  padding-bottom: 3vh;
  padding-top: 1vh;
  font-size: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 10em;
  perspective-origin: 50% calc(50% - 2.5em);
  border-radius: 10%;
}

.scene {
  max-width: 340px;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  animation-name: sceneRotate;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

@keyframes sceneRotate {
  to {
    transform: rotateY(360deg);
  }
}

.cube {
  width: 2.2em;
  height: 2.2em;

  position: absolute;
  bottom: -1.1em;
  left: -1.1em;
  transform-style: preserve-3d;
  transform-origin: bottom;

  animation-name: cubeContract;
  animation-duration: var(--bounceSpeed);
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-play-state: paused;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

@keyframes cubeContract {
  0% {
    transform: scale(1);
  }
  5% {
    transform: scaleY(0.8);
  }
  20%,
  100% {
    transform: scaleY(1);
  }
}

.front,
.left,
.right,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--boxColor);
  opacity: 0.15;
  box-shadow: 0 0 0.3em #0009 inset, 0 0 0.1em #fffc inset;
  border-radius: 10px;
}

.front {
  transform: translateZ(1.1em);
}
.right {
  transform: rotateY(90deg) translateZ(1.1em);
}
.back {
  transform: rotateY(180deg) translateZ(1.1em);
}
.left {
  transform: rotateY(270deg) translateZ(1.1em);
}

.top {
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  background-color: var(--boxColor);
  transform: translateY(-50%) rotateX(90deg);
  border-radius: 10px;
  opacity: 0.4;
}

.bottom {
  position: absolute;
  width: 2.2em;
  height: 2.2em;
  background-color: var(--boxColor);
  opacity: 0.2;
  bottom: 0;
  transform: translateY(50%) rotateX(90deg);
  box-shadow: 0 0 0.02em 0.008em #000 inset;
  border-radius: 10px;
}

.artcon {
  width: 1.6em;
  height: 1.6em;

  transform-style: preserve-3d;
  transform-origin: center;
  position: absolute;
  margin: 0.3em;

  animation-name: artRotate;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-delay: 0;
  animation-fill-mode: backwards;
}

@keyframes artRotate {
  0% {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
}

.coverart {
  background-image: url("./images/cubeCover.png");
  background-size: cover;
  margin: 0.24em;
  border-radius: 1px;
  border: 1px solid #fff5;
  filter: brightness(var(--cubeBright));
}

.cfront,
.cleft,
.cright,
.cback {
  position: absolute;
  width: 70%;
  height: 70%;
}

.cfront {
  transform: rotateZ(45deg) translateZ(0.56em);
}
.cright {
  transform: rotateZ(45deg) rotateY(90deg) translateZ(0.56em);
}
.cback {
  transform: rotateZ(45deg) rotateY(180deg) translateZ(0.56em);
}
.cleft {
  transform: rotateZ(45deg) rotateY(270deg) translateZ(0.56em);
}

.ctop {
  position: absolute;
  width: 70%;
  height: 70%;
  transform: rotateZ(45deg) rotateX(90deg) translateZ(0.56em);
}

.cbottom {
  position: absolute;
  width: 70%;
  height: 70%;
  transform: rotateZ(45deg) rotateX(270deg) translateZ(0.56em);
}

.floor {
  width: 2.2em;
  height: 2.2em;
  background-image: radial-gradient(#fff2, var(--floorRadialGrad)),
    repeating-conic-gradient(
      from 45deg,
      var(--floorGradFirst) 0deg 90deg,
      var(--floorGradSecond) 90deg 180deg
    );

  background-size: 100%, 0.6em 0.6em;

  position: absolute;
  transform: translate(-50%, -50%) rotateX(90deg);
  top: 1.1em;
  border-radius: 10px;
}

.floor-shadow {
  content: "";
  width: 1em;
  height: 1em;
  background-color: rgba(0, 0, 0, 0.16);
  position: absolute;
  top: 0.6em;
  left: 0.6em;
  filter: blur(5px);

  animation-name: artShadow;
  animation-duration: var(--rotateSpeed);
  animation-timing-function: linear;
  animation-play-state: paused;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

@keyframes artShadow {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.copy {
  font-size: 10px;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 4%;
  position: relative;
}

.copy p {
  width: 50%;
  margin: auto;
  color: #fff9;
}
